//====================================================================================================
.footer {
    @include adaptiveValue("padding-top", 121, 40);
    @include adaptiveValue("padding-bottom", 130, 70);
    background-color: var(--dark-cl);
    overflow: hidden;
    &__container {
        position: relative;
        &::after {
            content: '';
            @include adaptiveValue("width", 641, 200);
            @include adaptiveValue("height", 641, 200);
            position: absolute;
            right: -25%;
            top: 23%;
            border-radius: 50%;
            background-color: #202020;
            @media (max-width: 667.98px){
                display: none;
            } 
        }
    }
}
.block-wrapper {
    color: #fff;
    display: flex;

    @media (max-width: $mobile) {
        flex-direction: column;
        gap: 80px;
    }
}
.left-block {
    @include adaptiveValue("width", 400, 280);
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: -40%;
        right: 0;
        background-color: #202020;
        width: 1px;
        height: 200%;
        @media (max-width: $mobile) {
            height: 150%;
        }
    }
    &__text {
        @include adaptiveValue("margin-top", 30, 15);
        @include adaptiveValue("margin-bottom", 76, 35);
        width: 240px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6; 
    }

}
.footer-logo {
    @include adaptiveValue("font-size", 34, 20);
    font-style: normal;
    font-weight: 500;
    line-height: 1.3; 
}
.contacts {
    @include adaptiveValue("margin-bottom", 81, 40);
    &__item {
    }

    &__link {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.7; 
    }
}
.socials {
    display: flex;
    gap: 20px;
}
.right-block {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("margin-left", 100, 0);
    @media (max-width: $mobile) {
        margin-left: 0;
    }
}
.subscribe {
    @include adaptiveValue("margin-bottom", 40, 20);
    color: #969696;
    font-size: 15px;
    font-weight: 500;
}
.footer-form {
    @include adaptiveValue("width", 570, 280);
    position: relative;
    @include adaptiveValue("margin-bottom", 131, 60);
    &__input {
        @include adaptiveValue("width", 570, 280);
        background-color: transparent;
        width: 100%;
        outline: none;
        height: 36px;
        border-bottom: 1px solid #fff;
        color: #fff;

        &::placeholder {
            color: #fff;
            position: absolute;
            left: 0;
            bottom: 17px;
            opacity: 1;
            transition: opacity 0.4s ease, bottom 0.4s ease;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
                bottom: 34px;
            }
        }
    }

    &__button {
        position: absolute;
        right: 0;
        bottom: 17px;
        width: 64px;  
        font-size: 16px;
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 5px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}
.links-block {
    display: flex;
    z-index: 2;

    @media (max-width: 461.98px) {
        flex-direction: column;
        @include adaptiveValue("gap", 60, 40);
    }
}
.footer-nav {
    &:first-child {
        @include adaptiveValue("margin-right", 124, 60);

        @media (max-width: 461.98px) {
            margin-right: 0;
        }
    }
    &:last-child {
        margin-right: 0;
    }
    @include adaptiveValue("margin-right", 88, 40);
    @media (max-width: 461.98px) {
        margin-right: 0;
    }
    &__item {
    }

    &__link {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.7; 
    position: relative;

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 10px;
        height: 1px;
        width: 100%;
        background-color: #fff;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.5s ease, opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover {
        &::before {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }
    }
}
.footer-credits {
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 2;
    color: #969696;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3; 
    width: 149px;
    text-wrap: nowrap;

    @media (max-width: 631.98px) {
        bottom: -50px;
    }
}

//====================================================================================================
