//====================================================================================================
// Hero section
//====================================================================================================
.hero {
    background-color: var(--dark-cl);
    position: relative;
    @include adaptiveValue("height", 480, 270);
    &__container {
        position: relative;
    }
}

.swiper-counter {
    position: relative;
    @include adaptiveValue("bottom", 70, 30);
    @include adaptiveValue("left", 200, 15);
    @include adaptiveValue("width", 80, 50);
    display: flex;
    justify-content: space-between;
    color: #fff;
    &__item {
        &::after {
            content: '';
            height: 1px;
            @include adaptiveValue("width", 20, 10);
            background-color: #fff;
            position: absolute;
            top: 7px;
            @include adaptiveValue("left", 30, 19);
    }

    &span {
        @include adaptiveValue("font-size", 14, 12);  
    }
    }
}

.block-title {
        position: absolute;
        @include adaptiveValue("top", 175, 50);
        @include adaptiveValue("left", 200, 30);
        @include adaptiveValue("width", 516, 300);
        padding: 40px 0 40px 0;
    &__title {
        @include adaptiveValue("font-size", 70, 36);
        font-weight: 500;
        line-height: 1.1;
        color: #fff;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 70px;
            background-color: #fff;
        }
    }
    &::before {
        content: '';
        height: 1px;
        width: 70px;
    }
}

.btn-view {
    position: absolute;
    @include adaptiveValue("top", 390, 160);
    @include adaptiveValue("right", 178, 20);
    @include adaptiveValue("width", 90, 55);
    @include adaptiveValue("height", 90, 55);
    background-color: #fff;
    color: var(--dark-cl);
    border-radius: 50%;
    @include adaptiveValue("font-size", 15, 12);
    font-weight: 500;
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    &:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 15px 8px #fff;
    }
}

.swiper-slide {
    &__img {
         @include adaptiveValue("height", 580, 220);
    }
}

.swiper-button-prev {
    position: absolute;
    top: 225px;
    @include adaptiveValue("left", -50, 400);
    @media (max-width:958px){
        display: none;
      }
}
.swiper-button-next {
    position: absolute;
    top: 225px;
    @include adaptiveValue("right", -50, 400);
    @media (max-width:958px){
        display: none;
      }
}

//====================================================================================================
// About-us section
//====================================================================================================
.about-us {
    @include adaptiveValue("padding-top", 256, 40);

    &__container--big {
        width: 1306px;
        margin: 0 auto;
    }
}
.intro-block {
    @include adaptiveValue("width", 615, 290);
    @include adaptiveValue("margin-bottom", 93, 40);
    margin: 0 auto;
    text-align: center;
    &__label {
        @include adaptiveValue("margin-bottom", 25, 15);
        font-weight: 500;
    }

    &__title {
        @include adaptiveValue("font-size", 34, 24);
        line-height: 1.3;
        font-weight: 500;
    }
}
.info-block {
    display: flex;
    justify-content: center;
    @include adaptiveValue("margin-bottom", 160, 60);
    @include adaptiveValue("gap", 110, 40);
    @media (max-width:580px){
        flex-direction: column;
        @include adaptiveValue("padding-left", 40, 20);
      }

    &__item--top-line {
        @include adaptiveValue("width", 391, 200);
        @include adaptiveValue("padding-top", 34, 20);
        position: relative
    }

    &__text--big {
        @include adaptiveValue("font-size", 20, 18);
        line-height: 1.5;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            @include adaptiveValue("width", 400, 210);
            background-color: var(--dark-cl)
        }
    }

    &__item--action {
        @include adaptiveValue("width", 463, 250);
    }

    &__text--small {
        @include adaptiveValue("font-size", 17, 15);
        @include adaptiveValue("margin-bottom", 50, 25);
        line-height: 1.6;
    }
}


.btn span {
    position: relative;
    z-index: 50;
    color: #fff;
    font-weight: 500;
    @include adaptiveValue("padding-left", 39, 18);
    @media (max-width: 959.98px) {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    @media (max-width: 469.98px) {
        font-size: 13px;
    }
}

.btn {
    @include adaptiveValue("padding-top", 19, 10);
    @include adaptiveValue("padding-bottom", 19, 10);
    @include adaptiveValue("width", 170, 80);
    background-color: var(--dark-cl);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 2;
    outline: 1px solid var(--dark-cl);
    position: relative;
    

    &:hover {
        span {
            color: var(--dark-cl);
        }
        &::before {
            transform: translateX(0);
        }
        &::after {
            background-color: var(--dark-cl);
        }
    }

    &::after {
        content: '';
        position: absolute;
        @include adaptiveValue("top", 25, 12);
        @include adaptiveValue("right", 38, 19);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
        @media (max-width: 959.98px) {
            display: none;
        }
    }

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #fff;
        transform: translateX(-125%);
        transition: transform 0.4s ease;
    }

    &--reverse {
        background-color: #fff;
        outline: 1px solid #fff;

        &:hover {
            &::after {
                background-color: #fff;
            }

            span {
                color: #fff;
            }
        }
        span {
            color: var(--dark-cl);
            font-weight: 500;
        }

        &::after {
            background-color: var(--dark-cl);
        }

        &::before {
            background-color: var(--dark-cl);
        }
    }
}
//====================================================================================================
// Directions section
//====================================================================================================
.directions {
    max-width: 1336px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @include adaptiveValue("padding-bottom", 140, 70);
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    &__item {
        @include adaptiveValue("width", 304, 200);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%);
        position: relative;
        @include adaptiveValue("height", 400, 280);
        overflow: hidden;
        &:hover {
            backdrop-filter: blur(10px);
           .works-list__info {
                transform: translateY(-16px);
           }
           .works-list__card {
            filter: blur(7px);
           }
        }
    }

    &__card {
        width: 100%;
        height: 100%;
        filter: blur(0);
        transition: filter 0.5s ease;
    }

	&__info {
        position: absolute;
        left: 0;
        bottom: 0;
        @include adaptiveValue("padding-right", 93, 25);
        @include adaptiveValue("padding-left", 50, 25);
        transform: translateY(16px);
        transition: transform 0.5s ease;
	}

	&__text {
        font-size: 20px;
        color: #fff;
        margin: 24px 0 24px 0;
        @media (max-width: 499.98px) {
            font-size: 18px; 
        }
	}

	&__more {
        font-size: 16px;
        color: #fff;
        @media (max-width: 499.98px) {
            font-size: 14px; 
        }
	}
}
//====================================================================================================
// Directions section
//====================================================================================================
.featured {
    @include adaptiveValue("padding-bottom", 157, 75);
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include adaptiveValue("gap", 100, 30);
    }

    &__item {
        position: relative;
        overflow: hidden;

        &:hover,
        &:focus {
            .featured__btn {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__image {
        @include adaptiveValue("width", 370, 185);
        @include adaptiveValue("height", 428, 214);
    }

    &__label {   
        font-size: 24px;
        font-weight: 500;
        line-height: 1.4; 
        @include adaptiveValue("margin-top", 34, 15);
        @include adaptiveValue("margin-bottom", 8, 4);
        @media (max-width: 599.98px) {
            font-size: 20px;
        }
    }

    &__type {
        font-size: 15px;
        font-weight: 500;
    }

    &__image--big {
        @include adaptiveValue("width", 600, 280);
        @include adaptiveValue("height", 428, 194);
    }

    &__item--top {
        padding-left: 100px;
        padding-top: 160px;

        @media (max-width: 1199.98px) {
            padding-left: 0;
            padding-top: 0;
        }
    }

    &__item--bottom {
        margin-top: -160px;
        @media (max-width: 1199.98px) {
            margin-top: 0;
        }
    }

    &__btn {
        left: 130px;
        top: 200px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.4s ease, box-shadow 0.4s ease;

        @media (max-width: $mobile) {
            left: 100px;
            top: 100px;
        }
        @media (max-width: $mobileSmall) {
            left: 66px;
            top: 77px;
        }
    }
}
.introduction {
    display: flex;
    flex-wrap: wrap;
    align-items: first baseline;
    position: relative;
    @include adaptiveValue("margin-bottom", 48, 25);
    @include adaptiveValue("padding-left", 100, 20);
    @include adaptiveValue("padding-right", 100, 50);
    &__title {
        margin-right: 375px;
        @include adaptiveValue("font-size", 100, 50);
        font-weight: 500;
        line-height: 1.1;
        @include adaptiveValue("width", 425, 250);
        &::after {
            content: '';
            position: absolute;
            @include adaptiveValue("width", 70, 35);
            height: 1px;
            background-color: var(--dark-cl);
            left: 680px;
            top: 80px;
        }
        @media (max-width: 1199.98px) {
            @include adaptiveValue("margin-bottom", 48, 25);

            &::after {
                @include adaptiveValue("left", 100, 50);
                top: -40px;
            }
        }
    }
}
//====================================================================================================
// Process section
//====================================================================================================
.process {
        background-color: var(--dark-cl);
        height: 664px;
        @media (max-width: 667.98px){
            height: 764px;
        }
		&__container {
            max-width: 1300px;
            z-index: 2;
            overflow: hidden;
            position: relative;
            @include adaptiveValue("padding-top", 149, 65);
            @include adaptiveValue("padding-bottom", 161, 70);
            &::after {
            content: '';
            @include adaptiveValue("width", 641, 200);
            @include adaptiveValue("height", 641, 200);
            position: absolute;
            right: -20%;
            top: -35%;
            border-radius: 50%;
            background-color: #202020;
            @media (max-width: 667.98px){
                display: none;
            }
        }
		}

		&__title {
            color: #FFF;
            font-size: 48px;
            font-weight: 500;
            line-height: 1.2;
            @include adaptiveValue("margin-bottom", 80, 30); 

            @media (max-width: 667.98px){
                @include adaptiveValue("padding-left", 100, 20);
            }

            @media (max-width: 419.98px) {
                width: 200px;
            }
		}

		&__list {
            gap: 24px;
            display: flex;
            flex-direction: column;
            @include adaptiveValue("margin-left", 60, 20);
            @include adaptiveValue("margin-right", 140, 0);
            @media (max-width: 667.98px){
                margin-bottom: 40px;
            }
		}

		&__item {
            position: relative;

            &:hover {
                .process__text {
                    color: #fff;
                    transform: translateX(20px);
                    &::before {
                        opacity: 1;
                        transform: translateX(28%)
                    }
                }
                .process__number {
                    opacity: 1;
                }
            }
		}

		&__text {
            color: #6F6F6F;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.4;
            transition: color 0.4s ease, transform 0.4s ease;
            &::before {
                content: '';
                width: 40px;
                height: 1px;
                background-color: #fff;
                position: absolute;
                left: -90px;
                top: 17px;
                transform: translateX(-100%);
                opacity: 0;
                transition: transform 0.4s ease, opacity 0.4s ease;
                @media (max-width: 667.98px){
                    display: none;
                }
            }

            transform: translateX(0);
		}

		&__number {
            opacity: 0;
            font-size: 12px;
            font-weight: 500;
            transition: opacity 0.4s ease;
		}

}

.process-wrapper {
    display: flex;
    @media (max-width: 667.98px){
        flex-direction: column;
        justify-content: center;
    }
}

.block-info {
    @include adaptiveValue("width", 395, 250);

    @media (max-width: 667.98px){
        @include adaptiveValue("padding-left", 100, 20);
    }
		&__text {
            color: #FFF;
            font-size: 17px;
            font-weight: 400;
            line-height: 1.5;
            @include adaptiveValue("margin-bottom", 53, 25); 
            
		}

		
}
//====================================================================================================
//Create section
//====================================================================================================
.create {
    @include adaptiveValue("padding-top", 160, 80);
    @include adaptiveValue("padding-bottom", 140, 70);
    &__container {
    }

    &__wrapper {
        display: flex;
        @media (max-width: 1037.98px) {
            flex-direction: column;
        }
    }
}
.img-block {
    @media (max-width: 1037.98px) {
        margin: 0 auto;
    }
    &__item {
        filter: grayscale(100%);
        transition: filter 0.4s ease;
        &:hover {
            filter: grayscale(0);
        }
    }

    &__item--big {
        margin-bottom: 30px;
        @include adaptiveValue("width", 470, 235);
        @include adaptiveValue("height", 290, 145);
    }

    &__bottom {
        @include adaptiveValue("width", 575, 300);
    }

    &__item--small {
        @include adaptiveValue("padding-left", 130, 30);
        @include adaptiveValue("margin-right", 30, 15);
        @include adaptiveValue("width", 270, 135);
        @include adaptiveValue("height", 140, 80);
    }

    &__item--middle {
        @include adaptiveValue("width", 270, 135);
        @include adaptiveValue("height", 250, 125);
    }
}
.create-info {
    @include adaptiveValue("padding-top", 93, 40);
    &__title {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.3;
        width: 357px;
        @include adaptiveValue("margin-bottom", 37, 20);
    }

    &__text {
        @include adaptiveValue("padding-left", 90, 20);
        @include adaptiveValue("margin-bottom", 53, 27);
        @include adaptiveValue("width", 438, 280);
        font-size: 17px;
        font-weight: 400;
        line-height: 1.6; 

        @media (max-width: 1037.98px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 483.98px) {
            @include adaptiveValue("padding-left", 40, 20);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__btn {
        @include adaptiveValue("margin-left", 90, 20);

        @media (max-width: 1037.98px) {
            margin-left: auto;
        }
        @media (max-width: 483.98px) {
            @include adaptiveValue("margin-left", 40, 20);
        }
    }
}
//====================================================================================================
//Values section
//====================================================================================================
.values {
    @include adaptiveValue("padding-bottom", 214, 107);
    &__container {
    }

    &__title {
        @include adaptiveValue("font-size", 100, 55);
        text-align: center;
        font-weight: 500;
        line-height: 1.2;
        @include adaptiveValue("margin-bottom", 86, 40);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include adaptiveValue("gap", 75, 40);

        @media (max-width: 651.98px) {
            justify-content: flex-start;
        }
    }

    &__item {
        @include adaptiveValue("width", 340, 250);
        @include adaptiveValue("padding-left", 100, 50);
        position: relative;

        @media (max-width: 651.98px) {
            width: 100%;
        }
    }

    &__img {
        @include adaptiveValue("width", 70, 35);
        position: absolute;
        top: 0;
        left: 0;
    }

    &__label {
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 500;
        line-height: 1.4; 
        margin-bottom: 17px;
    }

    &__text {  
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        margin-bottom: 19px;
    }

    &__more {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        display: flex;
        align-items: center; 
        &:hover {
            .values__icon {
                transform: translateX(15px);
            }
        }
    }

    &__icon {
        fill: var(--dark-cl);
        transition: transform 0.4s ease;
    }
}
//====================================================================================================
//Swiper section
//====================================================================================================
.swiper-section {
    @include adaptiveValue("padding-top", 128, 70);
    @include adaptiveValue("padding-bottom", 196, 70);
    background-color: var(--dark-cl);
    overflow: hidden;
    &__container {
        position: relative;
        &::after {
            content: '';
            @include adaptiveValue("width", 641, 200);
            @include adaptiveValue("height", 641, 200);
            position: absolute;
            left: 23%;
            top: 23%;
            border-radius: 50%;
            background-color: #202020;
            @media (max-width: 667.98px){
                display: none;
            } 
        }
    }

    &__wrapper {
        z-index: 2;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img-quote {
        @include adaptiveValue("width", 38, 19);
        @include adaptiveValue("margin-bottom", 92, 20);
    }

    &__text {
        color: #FFF;
        @include adaptiveValue("font-size", 24, 15);
        font-weight: 500;
        line-height: 1.4;
        text-align: center; 
        @include adaptiveValue("width", 673, 300);
        @include adaptiveValue("margin-bottom", 33, 15);
    }

    &__author {
        color: #969696;
        font-weight: 400;
        line-height: 1.3;
    }
}

.second-counter {
    z-index: 2;
    left: 47%;
    @include adaptiveValue("bottom", -120, 0);
    position: relative;

    @media (max-width: $mobile) {
        display: none;
    }
    &::before {
        content: '';
        position: absolute;
        @include adaptiveValue("left", -548, -135);
        bottom: 405px;
        height: 1px;
        @include adaptiveValue("width", 168, 80);
        background-color: #fff;

        @media (max-width: $mobile) {
            display: none;
        }
    }
    &::after {
        content: '';
        position: absolute;
        @include adaptiveValue("right", -576, -120);
        bottom: 100px;
        height: 1px;
        @include adaptiveValue("width", 70, 35);
        background-color: #fff;
        transform: rotate(90deg);

        @media (max-width: $mobile) {
            display: none;
        }
    }
}

//====================================================================================================
//Clients section
//====================================================================================================
.clients {
    @include adaptiveValue("padding-top", 155, 75);
    @include adaptiveValue("padding-bottom", 155, 75);
    &__container {
        max-width: 975px;
        display: flex;
        align-items: center;

        @media (max-width: 779.98px) {
            flex-direction: column;
        }
    }

    &__title-block {
        @include adaptiveValue("margin-right", 260, 0);

        @media (max-width: 779.98px) {
            margin-right: 0;
            width: 100%;
            text-align: center;
        }
    }

    &__uppertitle {
        font-weight: 500;
        @include adaptiveValue("margin-bottom", 27, 15);
    }

    &__title {
        @include adaptiveValue("font-size", 34, 24);
        font-weight: 500;
        line-height: 1.3;
        @include adaptiveValue("width", 268, 125); 

        @media (max-width: 779.98px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include adaptiveValue("row-gap", 50, 30);

        @media (max-width: 779.98px) {
            width: 70%;
            justify-content: center;
        }
    }

}
//====================================================================================================
//New section
//====================================================================================================
.new {
    @include adaptiveValue("padding-bottom", 160, 70);
    &__container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            @include adaptiveValue("bottom", -160, -70);
            height: 1px;
            width: 100%;
            background-color: var(--dark-cl);
        }
    }

    &__title {
        @include adaptiveValue("font-size", 48, 24);
        @include adaptiveValue("margin-bottom", 90, 30);
        font-weight: 500;
        line-height: 1.2; 
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include adaptiveValue("gap", 30, 40);
        @include adaptiveValue("margin-bottom", 80, 30);
    }

    &__item {
        @include adaptiveValue("width", 370, 280);
        position: relative
    }

    &__date {
        position: absolute;
        top: 0;
        left: 0;
        width: 35%;
        padding: 10px 15px;
        background-color: #fff;
        @include adaptiveValue("font-size", 14, 10);
        font-weight: 400;
        line-height: 1.3;
    }

    &__image {
        @include adaptiveValue("margin-bottom", 27, 15);
        width: 100%;
    }

    &__text {
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue("width", 294, 260);
        font-weight: 500;
        line-height: 1.5; 
    }

    &__btn {
        margin: 0 auto;
    }
}
//====================================================================================================
//Work section
//====================================================================================================
.work {
    @include adaptiveValue("padding-top", 158, 40);
    @include adaptiveValue("padding-bottom", 158, 40);
    &__container {
        max-width: 960px;
        position: relative;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        @include adaptiveValue("width", 483, 250);
        @include adaptiveValue("font-size", 100, 50);
        font-weight: 500;
        line-height: 1.2;
        span {
            position: relative;
            z-index: 2;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: var(--dark-cl);
            }
        }
    }

    &__img {
        @include adaptiveValue("width", 230, 115);
        position: absolute;
        left: 47%;
        bottom: 38px;
        transition: transform 0.4s ease;
    }

    &__link {
        transition: transform 0.4s ease;
        &:hover {
            transform: translateX(50%);
        }
    }

    
}



