//====================================================================================================
// Hero section
//====================================================================================================
.hero {
    background-color: var(--dark-cl);
    position: relative;
    @include adaptiveValue("height", 480, 270);
    &__container {
        position: relative;
    }
}

.swiper-counter {
    position: relative;
    @include adaptiveValue("bottom", 70, 30);
    @include adaptiveValue("left", 200, 15);
    @include adaptiveValue("width", 80, 50);
    display: flex;
    justify-content: space-between;
    color: #fff;
    &__item {
        &::after {
            content: '';
            height: 1px;
            @include adaptiveValue("width", 20, 10);
            background-color: #fff;
            position: absolute;
            top: 7px;
            @include adaptiveValue("left", 30, 19);
    }

    &span {
        @include adaptiveValue("font-size", 14, 12);  
    }
    }
}

.block-title {
        position: absolute;
        @include adaptiveValue("top", 175, 50);
        @include adaptiveValue("left", 200, 30);
        @include adaptiveValue("width", 516, 300);
        padding: 40px 0 40px 0;
    &__title {
        @include adaptiveValue("font-size", 70, 36);
        font-weight: 500;
        line-height: 1.1;
        color: #fff;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 70px;
            background-color: #fff;
        }
    }
    &::before {
        content: '';
        height: 1px;
        width: 70px;
    }
}

.btn-view {
    position: absolute;
    @include adaptiveValue("top", 390, 160);
    @include adaptiveValue("right", 178, 20);
    @include adaptiveValue("width", 90, 55);
    @include adaptiveValue("height", 90, 55);
    background-color: #fff;
    color: var(--dark-cl);
    border-radius: 50%;
    @include adaptiveValue("font-size", 15, 12);
    font-weight: 500;
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    &:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 15px 8px #fff;
    }
}

.swiper-slide {
    &__img {
         @include adaptiveValue("height", 580, 220);
    }
}

.swiper-button-prev {
    position: absolute;
    top: 225px;
    @include adaptiveValue("left", -50, 400);
    @media (max-width:958px){
        display: none;
      }
}
.swiper-button-next {
    position: absolute;
    top: 225px;
    @include adaptiveValue("right", -50, 400);
    @media (max-width:958px){
        display: none;
      }
}

//====================================================================================================
// About-us section
//====================================================================================================
.about-us {
    @include adaptiveValue("padding-top", 256, 40);

    &__container--big {
        width: 1306px;
        margin: 0 auto;
    }
}
.intro-block {
    @include adaptiveValue("width", 615, 290);
    @include adaptiveValue("margin-bottom", 93, 40);
    margin: 0 auto;
    text-align: center;
    &__label {
        @include adaptiveValue("margin-bottom", 25, 15);
        font-weight: 500;
    }

    &__title {
        @include adaptiveValue("font-size", 34, 24);
        line-height: 1.3;
        font-weight: 500;
    }
}
.info-block {
    display: flex;
    justify-content: center;
    @include adaptiveValue("margin-bottom", 160, 60);
    @include adaptiveValue("gap", 110, 40);
    @media (max-width:580px){
        flex-direction: column;
        @include adaptiveValue("padding-left", 40, 20);
      }

    &__item--top-line {
        @include adaptiveValue("width", 391, 200);
        @include adaptiveValue("padding-top", 34, 20);
        position: relative
    }

    &__text--big {
        @include adaptiveValue("font-size", 20, 18);
        line-height: 1.5;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            @include adaptiveValue("width", 400, 210);
            background-color: var(--dark-cl)
        }
    }

    &__item--action {
        @include adaptiveValue("width", 463, 250);
    }

    &__text--small {
        @include adaptiveValue("font-size", 17, 15);
        @include adaptiveValue("margin-bottom", 50, 25);
        line-height: 1.6;
    }
}
.btn-about span {
    position: relative;
    z-index: 50;
    color: #fff;
    @include adaptiveValue("padding-left", 39, 18);
    @media (max-width: 959.98px) {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    @media (max-width: 469.98px) {
        font-size: 13px;
    }
}

.btn-about {
    @include adaptiveValue("padding-top", 19, 10);
    @include adaptiveValue("padding-bottom", 19, 10);
    @include adaptiveValue("width", 170, 80);
    background-color: var(--dark-cl);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 2;
    outline: 1px solid var(--dark-cl);
    position: relative;
    

    &:hover {
        span {
            color: var(--dark-cl);
        }
        &::before {
            transform: translateX(0);
        }
        &::after {
            background-color: var(--dark-cl);
        }
    }

    &::after {
        content: '';
        position: absolute;
        @include adaptiveValue("top", 25, 12);
        @include adaptiveValue("right", 38, 19);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
        @media (max-width: 959.98px) {
            display: none;
        }
    }

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #fff;
        transform: translateX(-125%);
        transition: transform 0.4s ease;
    }
}
//====================================================================================================
// Directions section
//====================================================================================================
.directions {
    width: 1336px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @include adaptiveValue("padding-bottom", 140, 70);
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &__item {
        @include adaptiveValue("width", 304, 200);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%);
        position: relative;
        height: 400px;
        overflow: hidden;
        &:hover {
            backdrop-filter: blur(10px);
           .works-list__info {
                transform: translateY(-16px);
           }
           .works-list__card {
            filter: blur(7px);
           }
        }
    }

    &__card {
        filter: blur(0);
        transition: filter 0.5s ease;
    }

	&__info {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 93px 0 50px;
        transform: translateY(16px);
        transition: transform 0.5s ease;
	}

	&__icon {
	}

	&__text {
        font-size: 20px;
        color: #fff;
        margin: 24px 0 24px 0;
	}

	&__more {
        font-size: 16px;
        color: #fff;
	}
}

.more {

    &__icon {
    }
}



